.vscode/

/game/*.txt

/game/saves
/game/saves/persistent
/game/saves/*
*.save

/game/cache
/game/saves
/game/saves

./error.txt
./log.txt
./traceback.txt
game/saves/persistent
game/cache/bytecode.rpyb
